# Inspect the OLID dataset

This notebook: 
- inspect data a little bit
- convert categorical labels to {0,1} labels
- save train and test data to .csv files

In [1]:
# Imports

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## 1. Load Training Data

In [2]:
data = pd.read_csv('../Dataset-OLID/OLIDv1.0/olid-training-v1.0.tsv', sep='\t')
data.head(10)

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,@USER She should ask a few native Americans wh...,OFF,UNT,NaN
1,90194,@USER @USER Go home you’re drunk!!! @USER #MAG...,OFF,TIN,IND
2,16820,Amazon is investigating Chinese employees who ...,NOT,NaN,NaN
3,62688,"@USER Someone should'veTaken"" this piece of sh...",OFF,UNT,NaN
4,43605,@USER @USER Obama wanted liberals &amp; illega...,NOT,NaN,NaN
5,97670,@USER Liberals are all Kookoo !!!,OFF,TIN,OTH
6,77444,@USER @USER Oh noes! Tough shit.,OFF,UNT,NaN
7,52415,@USER was literally just talking about this lo...,OFF,TIN,GRP
8,45157,@USER Buy more icecream!!!,NOT,NaN,NaN
9,13384,@USER Canada doesn’t need another CUCK! We alr...,OFF,TIN,IND

In [3]:
data.shape

(13240, 5)

In [4]:
dataA = data.drop(["subtask_b", "subtask_c"], axis=1)
dataA.head(10)

      id                                              tweet subtask_a
0  86426  @USER She should ask a few native Americans wh...       OFF
1  90194  @USER @USER Go home you’re drunk!!! @USER #MAG...       OFF
2  16820  Amazon is investigating Chinese employees who ...       NOT
3  62688  @USER Someone should'veTaken" this piece of sh...       OFF
4  43605  @USER @USER Obama wanted liberals &amp; illega...       NOT
5  97670                  @USER Liberals are all Kookoo !!!       OFF
6  77444                   @USER @USER Oh noes! Tough shit.       OFF
7  52415  @USER was literally just talking about this lo...       OFF
8  45157                         @USER Buy more icecream!!!       NOT
9  13384  @USER Canada doesn’t need another CUCK! We alr...       OFF

- **StackOverflow:** [Pandas: convert categories to numbers](https://stackoverflow.com/questions/38088652/pandas-convert-categories-to-numbers)

In [5]:
dataA.subtask_a = pd.Categorical(dataA.subtask_a)
dataA.head(10)

      id                                              tweet subtask_a
0  86426  @USER She should ask a few native Americans wh...       OFF
1  90194  @USER @USER Go home you’re drunk!!! @USER #MAG...       OFF
2  16820  Amazon is investigating Chinese employees who ...       NOT
3  62688  @USER Someone should'veTaken" this piece of sh...       OFF
4  43605  @USER @USER Obama wanted liberals &amp; illega...       NOT
5  97670                  @USER Liberals are all Kookoo !!!       OFF
6  77444                   @USER @USER Oh noes! Tough shit.       OFF
7  52415  @USER was literally just talking about this lo...       OFF
8  45157                         @USER Buy more icecream!!!       NOT
9  13384  @USER Canada doesn’t need another CUCK! We alr...       OFF

In [6]:
dataA['label_a'] = dataA.subtask_a.cat.codes
dataA.head(10)

      id                                              tweet subtask_a  label_a
0  86426  @USER She should ask a few native Americans wh...       OFF        1
1  90194  @USER @USER Go home you’re drunk!!! @USER #MAG...       OFF        1
2  16820  Amazon is investigating Chinese employees who ...       NOT        0
3  62688  @USER Someone should'veTaken" this piece of sh...       OFF        1
4  43605  @USER @USER Obama wanted liberals &amp; illega...       NOT        0
5  97670                  @USER Liberals are all Kookoo !!!       OFF        1
6  77444                   @USER @USER Oh noes! Tough shit.       OFF        1
7  52415  @USER was literally just talking about this lo...       OFF        1
8  45157                         @USER Buy more icecream!!!       NOT        0
9  13384  @USER Canada doesn’t need another CUCK! We alr...       OFF        1

## 2. Collect some data info

In [7]:
print("A not nan:", 1-data.subtask_a.isna().sum()/13240.)

A not nan: 1.0

In [8]:
dataA_info = dataA.groupby(["subtask_a"]).count()

In [9]:
dataA_info

             id  tweet  label_a
subtask_a
NOT        8840   8840     8840
OFF        4400   4400     4400

In [11]:
#dataA_info.columns = ["Total", "Percentage"]

In [12]:
dataA_info

             id  tweet  label_a
subtask_a
NOT        8840   8840     8840
OFF        4400   4400     4400

In [15]:
#dataA_info.Percentage = dataA_info.Percentage/dataA_info.Percentage.sum()

In [14]:
dataA_info

             id  tweet  label_a
subtask_a
NOT        8840   8840     8840
OFF        4400   4400     4400

## 3. Loading Testset Level A

In [16]:
test_tweets = pd.read_csv('../Dataset-OLID/OLIDv1.0/testset-levela.tsv', sep='\t')
test_tweets.head(10)

      id                                              tweet
0  15923  #WhoIsQ #WheresTheServer #DumpNike #DECLASFISA...
1  27014  #ConstitutionDay is revered by Conservatives, ...
2  30530  #FOXNews #NRA #MAGA #POTUS #TRUMP #2ndAmendmen...
3  13876  #Watching #Boomer getting the news that she is...
4  60133  #NoPasaran: Unity demo to oppose the far-right...
5  83681           . . . What the fuck did he do this time?
6  96874  #RAP is a form of ART! Used to express yoursel...
7  65507  @USER Do you get the feeling he is kissing @US...
8  78910  5 Tips to Enhance Audience Connection on Faceb...
9  46363  #BiggBossTamil janani won the task. She is goi...

In [17]:
test_labels = pd.read_csv('../Dataset-OLID/OLIDv1.0/labels-levela.csv')
test_labels.head(10)

      id label
0  15923   OFF
1  27014   NOT
2  30530   NOT
3  13876   NOT
4  60133   OFF
5  83681   OFF
6  96874   NOT
7  65507   OFF
8  78910   NOT
9  46363   NOT

- **StackOverflow:** [JOIN two dataframes on common column in python
](https://stackoverflow.com/questions/41463119/join-two-dataframes-on-common-column-in-python)

In [19]:
test_data = pd.merge(test_tweets, test_labels, left_on='id', right_on='id', how='left')
test_data.head(10)

      id                                              tweet label
0  15923  #WhoIsQ #WheresTheServer #DumpNike #DECLASFISA...   OFF
1  27014  #ConstitutionDay is revered by Conservatives, ...   NOT
2  30530  #FOXNews #NRA #MAGA #POTUS #TRUMP #2ndAmendmen...   NOT
3  13876  #Watching #Boomer getting the news that she is...   NOT
4  60133  #NoPasaran: Unity demo to oppose the far-right...   OFF
5  83681           . . . What the fuck did he do this time?   OFF
6  96874  #RAP is a form of ART! Used to express yoursel...   NOT
7  65507  @USER Do you get the feeling he is kissing @US...   OFF
8  78910  5 Tips to Enhance Audience Connection on Faceb...   NOT
9  46363  #BiggBossTamil janani won the task. She is goi...   NOT

In [20]:
test_data = test_data.rename(columns={'label':'subtask_a'})
test_data.head(10)

      id                                              tweet subtask_a
0  15923  #WhoIsQ #WheresTheServer #DumpNike #DECLASFISA...       OFF
1  27014  #ConstitutionDay is revered by Conservatives, ...       NOT
2  30530  #FOXNews #NRA #MAGA #POTUS #TRUMP #2ndAmendmen...       NOT
3  13876  #Watching #Boomer getting the news that she is...       NOT
4  60133  #NoPasaran: Unity demo to oppose the far-right...       OFF
5  83681           . . . What the fuck did he do this time?       OFF
6  96874  #RAP is a form of ART! Used to express yoursel...       NOT
7  65507  @USER Do you get the feeling he is kissing @US...       OFF
8  78910  5 Tips to Enhance Audience Connection on Faceb...       NOT
9  46363  #BiggBossTamil janani won the task. She is goi...       NOT

In [21]:
test_data.subtask_a = pd.Categorical(test_data.subtask_a)
test_data['label_a'] = test_data.subtask_a.cat.codes
test_data.head(10)

      id                                              tweet subtask_a  label_a
0  15923  #WhoIsQ #WheresTheServer #DumpNike #DECLASFISA...       OFF        1
1  27014  #ConstitutionDay is revered by Conservatives, ...       NOT        0
2  30530  #FOXNews #NRA #MAGA #POTUS #TRUMP #2ndAmendmen...       NOT        0
3  13876  #Watching #Boomer getting the news that she is...       NOT        0
4  60133  #NoPasaran: Unity demo to oppose the far-right...       OFF        1
5  83681           . . . What the fuck did he do this time?       OFF        1
6  96874  #RAP is a form of ART! Used to express yoursel...       NOT        0
7  65507  @USER Do you get the feeling he is kissing @US...       OFF        1
8  78910  5 Tips to Enhance Audience Connection on Faceb...       NOT        0
9  46363  #BiggBossTamil janani won the task. She is goi...       NOT        0

## 4. Save data in csv

- **StackOverflow:** [Writing a pandas DataFrame to CSV file](https://stackoverflow.com/questions/16923281/writing-a-pandas-dataframe-to-csv-file)

In [22]:
dataA.to_csv("../Dataset-OLID/OLIDv1.0/data_subtask_a.csv")
test_data.to_csv("../Dataset-OLID/OLIDv1.0/test_data_subtask_a.csv")

PermissionError: [Errno 13] Permission denied: '../Dataset-OLID/OLIDv1.0/test_data_subtask_a.csv'

## 5. Test data

In [23]:
train_data = pd.read_csv("../Dataset-OLID/OLIDv1.0/data_subtask_a.csv")
test_data = pd.read_csv("../Dataset-OLID/OLIDv1.0/test_data_subtask_a.csv")

In [24]:
train_data.head()

,Unnamed: 0,id,tweet,subtask_a,label_a
0,0,86426,@USER She should ask a few native Americans wh...,OFF,1
1,1,90194,@USER @USER Go home you’re drunk!!! @USER #MAG...,OFF,1
2,2,16820,Amazon is investigating Chinese employees who ...,NOT,0
3,3,62688,"@USER Someone should'veTaken"" this piece of sh...",OFF,1
4,4,43605,@USER @USER Obama wanted liberals &amp; illega...,NOT,0

In [25]:
test_data.head()

,Unnamed: 0,id,tweet,subtask_a,label_a
0,0,15923,#WhoIsQ #WheresTheServer #DumpNike #DECLASFISA...,OFF,1
1,1,27014,"#ConstitutionDay is revered by Conservatives, ...",NOT,0
2,2,30530,#FOXNews #NRA #MAGA #POTUS #TRUMP #2ndAmendmen...,NOT,0
3,3,13876,#Watching #Boomer getting the news that she is...,NOT,0
4,4,60133,#NoPasaran: Unity demo to oppose the far-right...,OFF,1

In [26]:
len(train_data)

13240

In [27]:
len(test_data)

860